In [2]:
import pandas as pd
from pandas.compat import StringIO
import numpy as np

In [3]:
pd

In [39]:
#importing .dat files into pandas
with open('Data_Exercises/CHAPTER4/DATA for Exercises 4.1 and 4.4.dat','r') as f:
    #next(f) # this is what you would write to skip the first row.skip first row
    df = pd.DataFrame((l.rstrip().split() for l in f))
    #df = pd.concat([df.iloc[:, :3], df.iloc[:, 3:]], axis=0, ignore_index=True)

print(df)

       0          1         2     3          4         5
0   1960  179323175   3384200  1961  182992000   3488000
1   1962  185771000   3752200  1963  188483000   4109500
2   1964  191141000   4564600  1965  193526000   4739400
3   1966  195576000   5223500  1967  197457000   5903400
4   1968  199399000   6720200  1969  201385000   7410900
5   1970  203235298   8098000  1971  206212000   8588200
6   1972  208230000   8248800  1973  209851000   8718100
7   1974  211392000  10253400  1975  213124000  11292400
8   1976  214659000  11349700  1977  216332000  10984500
9   1978  218059000  11209000  1979  220099000  12249500
10  1980  225349264  13408300  1981  229146000  13423800
11  1982  231534000  12974400  1983  233981000  12108600
12  1984  236158000  11881800  1985  238740000  12431400
13  1986  240132887  13211869  1987  242282918  13508700
14  1988  245807000  13923100  1989  248239000  14251400
15  1990  248709873  14475600  1991  252177000  14872900
16  1992  255082000  14438200  1993  257908000  14144800
17  1994  260341000  13989500  1995  262755000  13862700
18  1996  265228572  13493863  1997  267637000  13194571
19  1998  270296000  12475634  1999  272690813  11634378
20  2000  281421906  11608072  2001  285317559  11876669
21  2002  287973924  11878954  2003  290690788  11826538
22  2004  293656842  11679474  2005  296507061  11565499
23  2006  299398484  11401511  2007  301621157  11251828
24  2008  304374846  11160543  2009  307006550  10762956
25  2010  308745538  10329135  None       None      None

In [40]:
u = df[[0,1,2]]
v = df[[3,4,5]]
v.columns = [0,1,2]

In [41]:
df = pd.concat([u,v], ignore_index=True)

In [42]:
df.describe

<bound method NDFrame.describe of        0          1         2
0   1960  179323175   3384200
1   1962  185771000   3752200
2   1964  191141000   4564600
3   1966  195576000   5223500
4   1968  199399000   6720200
5   1970  203235298   8098000
6   1972  208230000   8248800
7   1974  211392000  10253400
8   1976  214659000  11349700
9   1978  218059000  11209000
10  1980  225349264  13408300
11  1982  231534000  12974400
12  1984  236158000  11881800
13  1986  240132887  13211869
14  1988  245807000  13923100
15  1990  248709873  14475600
16  1992  255082000  14438200
17  1994  260341000  13989500
18  1996  265228572  13493863
19  1998  270296000  12475634
20  2000  281421906  11608072
21  2002  287973924  11878954
22  2004  293656842  11679474
23  2006  299398484  11401511
24  2008  304374846  11160543
25  2010  308745538  10329135
26  1961  182992000   3488000
27  1963  188483000   4109500
28  1965  193526000   4739400
29  1967  197457000   5903400
30  1969  201385000   7410900
31  1971  206212000   8588200
32  1973  209851000   8718100
33  1975  213124000  11292400
34  1977  216332000  10984500
35  1979  220099000  12249500
36  1981  229146000  13423800
37  1983  233981000  12108600
38  1985  238740000  12431400
39  1987  242282918  13508700
40  1989  248239000  14251400
41  1991  252177000  14872900
42  1993  257908000  14144800
43  1995  262755000  13862700
44  1997  267637000  13194571
45  1999  272690813  11634378
46  2001  285317559  11876669
47  2003  290690788  11826538
48  2005  296507061  11565499
49  2007  301621157  11251828
50  2009  307006550  10762956
51  None       None      None>

In [38]:
df

                              a            b           c
1960 179323175 3384200   1961.0  182992000.0   3488000.0
1962 185771000 3752200   1963.0  188483000.0   4109500.0
1964 191141000 4564600   1965.0  193526000.0   4739400.0
1966 195576000 5223500   1967.0  197457000.0   5903400.0
1968 199399000 6720200   1969.0  201385000.0   7410900.0
1970 203235298 8098000   1971.0  206212000.0   8588200.0
1972 208230000 8248800   1973.0  209851000.0   8718100.0
1974 211392000 10253400  1975.0  213124000.0  11292400.0
1976 214659000 11349700  1977.0  216332000.0  10984500.0
1978 218059000 11209000  1979.0  220099000.0  12249500.0
1980 225349264 13408300  1981.0  229146000.0  13423800.0
1982 231534000 12974400  1983.0  233981000.0  12108600.0
1984 236158000 11881800  1985.0  238740000.0  12431400.0
1986 240132887 13211869  1987.0  242282918.0  13508700.0
1988 245807000 13923100  1989.0  248239000.0  14251400.0
1990 248709873 14475600  1991.0  252177000.0  14872900.0
1992 255082000 14438200  1993.0  257908000.0  14144800.0
1994 260341000 13989500  1995.0  262755000.0  13862700.0
1996 265228572 13493863  1997.0  267637000.0  13194571.0
1998 270296000 12475634  1999.0  272690813.0  11634378.0
2000 281421906 11608072  2001.0  285317559.0  11876669.0
2002 287973924 11878954  2003.0  290690788.0  11826538.0
2004 293656842 11679474  2005.0  296507061.0  11565499.0
2006 299398484 11401511  2007.0  301621157.0  11251828.0
2008 304374846 11160543  2009.0  307006550.0  10762956.0
2010 308745538 10329135     NaN          NaN         NaN